[user]
	name = Robert Swanson
	email = rswanson3141@gmail.com
[push]
	default = simple
[diff]
	tool = vimdiff
[difftool]
    prompt = true
[alias]
	oldest-ancestor = !zsh -c 'diff --old-line-format= --new-line-format= <(git rev-list --first-parent \"${1:-release_daily}\") <(git rev-list --first-parent \"${2:-HEAD}\") | head -1' -
	branchdiff = !sh -c \"git difftool `git newest-ancestor`..\"
    branchlog = !sh -c \"git log `git oldest-ancestor`..\"
    newest-ancestor = !sh -c \"git log --pretty=format:"%H" --merges -n 1\"
